{% extends 'connexion.html.twig' %}



{% block title %}
<div class="container">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <div class="row">
            <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                    <g filter="">
                        <use xlink:href="#git"></use>
                    </g>
                </svg>
            </div>
        </div>

        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Bienvenue</div>
            </div>

            <div class="panel-body" >
<form name="form" id="form" class="form-horizontal"  method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  class="form-control" autocomplete="email" required autofocus>

    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <div class="form-group">
        <!-- Button -->
        <div class="col-sm-12 controls">
            <button type="submit" href="{{ asset('affichers') }}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> se connecter</button>
        </div>
    </div>
</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
